<table border="0"
       cellpadding="0"
       cellspacing="0"
       width="100%"
       style="font-family:freesans;color:#232b38;">
    <tr>
        <td colspan="3"
            height="12mm"
            align="center"
            valign="middle"
            style="font-size:15pt;font-weight:bold;line-height:12mm;">
            {{title}}
        </td>
    </tr>
    <tr>
        <td width="36%"
            height="39mm"
            align="center"
            valign="middle"
            style="padding:3mm;">
            <img src="{{photo}}" width="28mm" border="0"/>
        </td>
        <td width="3%">&nbsp;</td>
        <td width="61%"
            height="39mm"
            style="padding:4mm 4mm 2mm 2mm;font-size:7pt;line-height:4.4mm;">
            <div style="font-size:12pt;font-weight:bold;line-height:3mm;">{{fullname}}</div>
            <div>{{email}}</div>
            <div><b>{{cpflabel}}:</b> {{cpf}}</div>
            <div><b>{{courselabel}}:</b> {{coursefullname}}</div>
        </td>
    </tr>
</table>
