<table border="0"
       cellpadding="0"
       cellspacing="0"
       width="100%"
       style="color:#232b38;">
    <tr>
        <td width="3%">&nbsp;</td>
        <td width="64%" valign="top">
            <div style="font-size:9pt;font-weight:bold;line-height:3mm;">{{title}}</div>
            <div style="font-size:6.5pt;line-height:3mm;">{{description}}</div>
        </td>
        <td width="33%"
            align="center"
            valign="middle"
            style="padding:4mm 3mm 2mm 3mm;">
            <br><br><br>
            <img src="{{qrcode}}" width="22mm" height="22mm" border="0"/>
        </td>
    </tr>
    <tr>
        <td width="3%">&nbsp;</td>
        <td colspan="2" style="font-size:5.6pt;">
            <h3>{{hashlabel}}:</h3>
            <div style="font-family:freemono;">{{validationcode}}</div>
            <a href="{{verifyurl}}" style="color:#00427d;text-decoration:none;">{{verifyurl}}</a>
        </td>
    </tr>
</table>
