.statics-pages .content .summary {
    float: none;
    width: 100%;
}
.box-page {
    background: #fff;
    box-shadow: 0 10px 50px 0 rgba(26, 46, 85, 0.1);
    border-radius: 5px;
    padding: 20px;
    .thumbnail {
        position: relative;
        transition: 0.3s;
        a {
            span {
                display: block;
                overflow: hidden;
                border-radius: 5px 5px 0 0;
                transition: 0.4s;
                width: 100%;
                padding-top: 45%;
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
            }
        }
        .preco-curso {
            position: absolute;
            right: 20px;
            top: 10px;
            width: 70px;
            height: 70px;
            background: #fff;
            box-shadow: 0 10px 28.2px 1.8px rgba(0, 0, 0, 0.07);
            color: #000;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            border-radius: 50%;

            line-height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.preco-curso-free {
                background: #26a69a;
                color: #fff;
            }
            span {
            }
        }
    }
    &:hover .thumbnail a img {
        transform: scale(1.1);
    }
}
