/***************************
 * User: kraus
 * Date: 01/01/2017
 * Time: 05:01
 ***************************/
body.remove-overflow {
    overflow: hidden !important;
}
#base-popup {
    background: white;
    border: 0 none;
    position: fixed;
    padding: 0;
    overflow: visible;
    display: block;
    z-index: 9002;
    outline: 0;
    height: auto;
    max-height: 1200px;
    width: 1100px;
    left: -550px;
    top: 100px;
    bottom: 50px;
    margin: 0 50%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 85px;
}
#base-popup #base-popup-close {
    background: transparent url(../../kopere_dashboard/pix/dialog_close.png) no-repeat scroll 0 0;
    border: 0 none !important;
    height: 30px;
    right: -15px;
    top: -15px;
    width: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2000;
    display: block;
    font-size: 0;
}
#base-popup table {
    margin-top: 0 !important;
}
#base-popup table th, #base-popup table td {
    padding: 1px 8px !important;
}
#base-popup input[type=text] {
    width: 79% !important;
}
#base-popup .operation-container {
    padding: 20px;
    color: #fff;
    max-height: 300px;
    overflow: auto;
}
#operations {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25) inset;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #aaa;
    overflow: hidden;
    position: relative;
    background: -webkit-linear-gradient(top left, #d7bbea, #65a8f1);
    background: linear-gradient(to bottom right, #d7bbea, #65a8f1);
    min-height: 120px;
    height: 100%;
}
#operations img.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
}
#operations a {
    color: #cdcdcd;
}
#operations h3.operation-header {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    padding-left: 8px;
    z-index: 13;
    margin: 0;
}
#operations .operation-header img {
    padding: 0 10px;
    vertical-align: middle;
}
#operations .navigation {
    margin-top: 20px;
    text-align: right;
}
#operations .ui-accordion-header.disabled, #operations .ui-accordion-header.disabled:hover {
    color: #b2b2b2;
    background: #696969;
    background: -moz-linear-gradient(top, #797979, #585858);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #797979), color-stop(1, #585858));
    border: 0 none;
}
#operations .ui-accordion-header.disabled img {
    opacity: 0.5;
}
#operations .ui-accordion-content {
    margin: -6px 0 10px;
    padding: 26px 20px 20px;
    overflow: visible;
    z-index: 12;
    background: #242424;
    border: 0;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25) inset;
}
#operations .ui-accordion-content form > :last-child {
    margin-bottom: 0;
}
#operations .description {
    line-height: 18px;
    color: #999;
    margin: 0 0 20px;
}
#operations h4 {
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
}
#operations .server-content {
    padding: 15px;
}
.ui-widget-overlay {
    background: #000;
    opacity: 0.75;
    filter: Alpha(Opacity=75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 1001;
}
.alert {
    padding-left: 36px !important;
}
.alert > i.fa {
    font-size: 22px;
    position: absolute;
    left: 8px;
    top: 15px;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p,
.alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert [class^=icon-],
.alert [class*=" icon-"] {
    margin-right: 5px;
}
.alert.alert-success {
    background-color: #dff0d8;
    border-color: #aed48e;
    color: #468847;
    border-top: 1px solid #94c56a;
}
.alert.alert-success hr {
    border-top-color: #a1cd7c;
}
.alert.alert-success a {
    color: #356635;
    font-weight: bold;
}
.alert.alert-info {
    background-color: #d9edf7;
    border-color: #85d5e5;
    color: #3a87ad;
    border-top: 1px solid #5bc7dc;
}
.alert.alert-info hr {
    border-top-color: #70cee1;
}
.alert.alert-info a {
    color: #083850;
    font-weight: normal;
}
.alert.alert-warning {
    background-color: #ede6c2;
    border-color: #d6b573;
    color: #89724d;
    border-top: 1px solid #caa14c;
}
.alert.alert-warning hr {
    border-top-color: #d0ab60;
}
.alert.alert-warning a {
    color: #68573b;
    font-weight: bold;
}
.alert.alert-danger {
    background-color: #f7d9d9;
    border-color: #e58595;
    color: #b94a48;
    border-top: 1px solid #dc5b70;
}
.alert.alert-danger hr {
    border-top-color: #e17083;
}
.alert.alert-danger a {
    color: #953b39;
    font-weight: bold;
}
.kopere-dashboard button,
.kopere-dashboard html [type=button],
.kopere-dashboard [type=reset],
.kopere-dashboard [type=submit] {
    -webkit-appearance: initial !important;
}
.kopere-dashboard .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.kopere-dashboard .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.kopere-dashboard .btn-primary:focus,
.kopere-dashboard .btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.kopere-dashboard .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.kopere-dashboard .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
/*# sourceMappingURL=style.css.map */
