.alert {
    padding-left: 36px !important;
    > i.fa {
        font-size: 22px;
        position: absolute;
        left: 8px;
        top: 15px;
    }
    .alert-link {
        font-weight: bold
    }
    > p,
    > ul {
        margin-bottom: 0
    }
    > p + p {
        margin-top: 5px
    }
    [class^="icon-"],
    [class*=" icon-"] {
        margin-right: 5px
    }
    &.alert-success {
        background-color: #dff0d8;
        border-color: #aed48e;
        color: #468847;
        border-top: 1px solid #94c56a;
        hr {
            border-top-color: #a1cd7c
        }
        a {
            color: #356635;
            font-weight: bold;
        }
    }
    &.alert-info {
        background-color: #d9edf7;
        border-color: #85d5e5;
        color: #3a87ad;
        border-top: 1px solid #5bc7dc;
        hr {
            border-top-color: #70cee1
        }
        a {
            color: #083850;
            font-weight: normal;
        }
    }
    &.alert-warning {
        background-color: #ede6c2;
        border-color: #d6b573;
        color: #89724d;
        border-top: 1px solid #caa14c;
        hr {
            border-top-color: #d0ab60
        }
        a {
            color: #68573b;
            font-weight: bold;
        }
    }
    &.alert-danger {
        background-color: #f7d9d9;
        border-color: #e58595;
        color: #b94a48;
        border-top: 1px solid #dc5b70;
        hr {
            border-top-color: #e17083
        }
        a {
            color: #953b39;
            font-weight: bold;
        }
    }
}
//.btn {
//    display             : inline-block;
//    margin-bottom       : 0;
//    font-size           : 14px;
//    font-weight         : 400;
//    line-height         : 1.42857143;
//    text-align          : center;
//    white-space         : nowrap;
//    vertical-align      : middle;
//    -ms-touch-action    : manipulation;
//    touch-action        : manipulation;
//    cursor              : pointer;
//    -webkit-user-select : none;
//    -moz-user-select    : none;
//    -ms-user-select     : none;
//    user-select         : none;
//    margin-top          : 15px;
//    margin-right        : 10px;
//    background          : #DEDEDE none;
//    padding             : 9px 25px;
//    border-radius       : 0;
//    outline             : none !important;
//    box-shadow          : none !important;
//    border              : none;
//    -webkit-transition  : all 0.3s ease;
//    -moz-transition     : all 0.3s ease;
//    transition          : all 0.3s ease;
//    color               : #FFFFFF;
//    &.btn-default {
//        color            : #333333;
//        background-color : #FFFFFF;
//        border-color     : #CCCCCC;
//    }
//    &.btn-info {
//        background-color : #5BC0DE;
//        border-color     : #46B8DA;
//        &:hover {
//            background-color : #31B0D5;
//            border-color     : #269ABC;
//        }
//    }
//    &.btn-primary {
//        background : #566FC9;
//        border     : solid 2px #566FC9;
//        &:hover {
//            background-color : #286090;
//            border-color     : #204D74;
//        }
//    }
//    &.btn-success {
//        background-color : #5CB85C;
//        border-color     : #4CAE4C;
//        &:hover {
//            background-color : #449D44;
//            border-color     : #398439;
//        }
//    }
//    &.btn-danger {
//        background : #F15B26;
//        border     : solid 2px #F15B26;
//        &:hover {
//            background-color : #C9302C;
//            border-color     : #AC2925;
//        }
//    }
//    &.btn-warning {
//        background : #FCB03B;
//        border     : solid 2px #FCB03B;
//        :hover {
//            background-color : #EC971F;
//            border-color     : #D58512;
//        }
//    }
//}